################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/snake-u/v16
/snake-u/x64/Release
/x64/Release
